html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
  height: auto;
  width: 180px;
}

.container {
    width: 100%;
    height: 100%;
}

h4 {
    text-align: center;
  font-size: 40px;
}

p {
    text-align: center;
  font-size: 20px;
}

img {
    display: block;
    margin: auto;
    margin-left: 105px;
    padding: 2px;

}

.name-card {
  ackground-color: rgb(200, 40, 30, 0.2);
}
.first-line {
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
  margin-left: 105px;
  color: dimgrey;
  font-size: 28px;
}

.my-projects:hover {
    transform: scale(0.9);
  transition: all 0.9s ease-in-out;
}
.partners:hover {
    transform: scale(0.9);
  transition: all 0.9s ease-in-out;
}
.contact:hover {
    transform: scale(0.9);
  transition: all 0.9s ease-in-out;
}
.second-line {
  color: black;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 30px;
}
.third-line {
  color: white;
  margin-bottom: 20px;
}

body {
  font-family: 'Shippori Mincho', serif;
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('assets/hatterkep-lila.jpg')
}

#contactme {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  }

i {
  color: rebeccapurple;
}
i:hover {
  color: white;
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
}

.links {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.name-headline {
  color: white;
    font-size: 30px;
  margin-bottom: 30p;
  margin-left: +310px;
  text-align: justify;
}

.profession {
  text-align: justify
}

.profession, .age, .languages {
  font-size: 16px;
}